body {
    background: black;
  }
  
  .clock {
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
  
  .text1 {
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
  
  .text2 {
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
   img {
        margin-top: 20px;
       margin-top: 120px;
       width: 20;
  }